body.auth-body {
	background-color: color(primary);
	background-image: linear-gradient(to bottom, color(primary), color(primary-light));


	.form-container {
		margin: 4em 20vw 7em 20vw;
		padding: 4em;
		background: white;
		display: grid;
		grid-gap: 1.6em;
		grid-template-columns: 1fr;
		grid-template-areas:
			"judul"
			"form"
			"teks"
		;
		// grid-auto-rows: minmax(40vw, auto);
		border-radius: .5em;
		align-content: space-around;
		justify-content: space-between;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.212));

		h1.judul {
			align-self: center;
			justify-self: center;
			grid-area: judul;
			text-align: center;
			color: color(grey-dark);
			font-size: 1.45rem;
			font-weight: normal;
		}

		.form {
			grid-area: form;

			.input-text {
				border-radius: 1em;
				background-color: rgb(232, 240, 254);
				padding: 1em 1em;
				display: block;
				width: 100%;
				//   height: $input-height;
				//   padding: $input-padding-y $input-padding-x;
				//   font-family: $input-font-family;
				//   @include font-size($input-font-size);
				//   font-weight: $input-font-weight;
				//   line-height: $input-line-height;
				//   color: $input-color;
				//   background-color: $input-bg;
				//   background-clip: padding-box;
				border: 1px solid color(grey-light);
				border-radius: .3em;
				margin-bottom: 1em;
				transition: 0.3s ease;

				&:focus {
					filter: drop-shadow(0px 0px 5px rgb(110, 117, 129));
				}
			}

			.flex {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-content: center;
				transition: .3s ease;

				a {
					text-decoration: none;
					color: inherit;
					display: inline-block;
					width: 100%;
				}

				.input-tombol {
					border-radius: 1em;
					background-color: color(primary);
					padding: 1em 1em;
					display: inline-block;
					width: 100%;
					//   height: $input-height;
					//   padding: $input-padding-y $input-padding-x;
					//   font-family: $input-font-family;
					//   @include font-size($input-font-size);
					//   font-weight: $input-font-weight;
					//   line-height: $input-line-height;
					//   color: $input-color;
					//   background-color: $input-bg;
					//   background-clip: padding-box;
					border: 1px solid rgba(145, 154, 170, 0.753);
					border-radius: 2em;
					margin: .5em 0.1em;
					transition: 0.3s ease;
					color: whitesmoke;
					font-weight: normal;
					font-size: .8rem;
					text-align: center;
					letter-spacing: 0.07em;


					&:hover {
						background-color: color(primary-dark);
					}
				}

				.half {
					width: 49%;
					transition: .3s ease;
					// margin: .0em 0.0em;


					@include tablet {
						width: 100%;
						// margin-bottom: 1em;

					}
				}

				@include tablet {
					flex-direction: column;
				}
			}

			// End .form
		}

		hr {
			height: 1px;
			background-color: #8d8d8d57;
			border: none;
		}

		.form-text {
			a {
				text-align: center;
				text-decoration: none;
				color: color(primary);
				display: block;
				font-size: .8rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		//Put @include inside a selector
		@include tablet {
			margin: 4em 6em 7em 6em;
			padding: 3em;
		}

		@include phone {
			margin: 2em 2.5em 5em 2.5em;
			padding: 1.4em;
		}
	}
}
