body.user-body {
	#background {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-color: color(primary);
		background-image: linear-gradient(color(primary), color(primary), color(primary-dark));
	}

	@import "user/navbar";
	@import "user/sidebar";
	@import "user/main";
	@import "user/footer";
}
