// Default Colors
$colors: ( // Primary	
	primary: rgb(123, 72, 218),
	primary-light: lighten(rgb(123, 72, 218), 10%),
	primary-lighter: lighten(rgb(123, 72, 218), 20%),
	primary-lightest: lighten(rgb(123, 72, 218), 30%),
	primary-dark: darken(rgb(123, 72, 218), 10%),
	primary-darker: darken(rgb(123, 72, 218), 20%),
	primary-darkest: darken(rgb(123, 72, 218), 30%),

	// Grey
	grey:grey,
	grey-light:lighten(grey, 10%),
	grey-lighter:lighten(grey, 20%),
	grey-lightest:lighten(grey, 40%),
	grey-lightestt:lighten(grey, 70%),
	grey-dark:darken(grey, 10%),
	grey-darker:darken(grey, 20%),
	grey-darkest:darken(grey, 40%),
	grey-darkestt:darken(grey, 70%),

	// Default
	white:white,
	black:black,
);

// Media Breakpoints
$tablet:750px;
$phone:550px;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');


// Variable for user
$sidebar-width-desktop:22%;
$sidebar-width-tablet:16%;
$sidebar-width-phone:16%;
$navbar-width-desktop:100% - $sidebar-width-desktop;
$navbar-width-tablet:100% - $sidebar-width-tablet;
$navbar-width-phone:100% - $sidebar-width-phone;

// Transisi
$transisi1:350ms ease-in-out;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}
