<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="./../../../assets/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="../../../assets/css/style.css">
</head>

<body class="user-body">
	<div id="background"></div>
	<div class="sidebar">
		<a href="#" class="logo">
			<div class="fas fa-code gambar"></div>
			<div class="text">Afuweb <sup>2</sup></div>
		</a>
		<hr class="sidebar-divider">
		<div class="sidebar-header">Judul</div>
		<li class="active">
			<a href="#">
				<i class="fas fa-angle-double-left"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fas fa-angle-double-left"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fas fa-angle-double-left"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<hr class="sidebar-divider">
		<div class="sidebar-header">Judul</div>
		<li class="">
			<a href="#">
				<i class="fas fa-angle-double-left"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fas fa-angle-double-left"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fas fa-angle-double-left"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<hr class="sidebar-divider">
		<div class="tengah">
			<p class="tombol">
				<i class="arrow"></i>
			</p>
		</div>
	</div>
	<nav class="navbar">
		<div class="burger1">
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="burger2">
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="tombol-user">

			<div class="teks-tombol">Afu Sidhi Pamekas</div>
			<div class="gambar-tombol"><img src="../../../assets/img/profile/default.jpg" alt=""></div>
			<div class="kotak">
				<li>
					<a href="#">
						<i class="fas fa-angle-double-left"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<hr>
				<li>
					<a href="#">
						<i class="fas fa-angle-double-left"></i>
						<span>Dashboard</span>
					</a>
				</li>
			</div>
		</div>
	</nav>
	<main class="main">
		<h1>Hello World</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis nihil omnis sit a corrupti dolor similique,
			enim excepturi voluptate laboriosam repellendus, dolorem autem ea reprehenderit, ab eaque voluptatem.
			Tempore, animi! Culpa sed recusandae aliquid blanditiis nobis repudiandae fuga, eos alias, esse deleniti
			tenetur quos vel velit nesciunt consequatur enim reiciendis laborum molestias debitis ea eveniet quibusdam?
			Earum cupiditate, fugit aspernatur ad explicabo vel. Delectus minima facere minus nobis mollitia, animi,
			veniam distinctio voluptatum temporibus totam quidem saepe consectetur rerum quibusdam excepturi nemo quasi
			eligendi dicta aliquid obcaecati dolore inventore officiis culpa reiciendis. Aspernatur ducimus
			necessitatibus quisquam est illum excepturi dolorem numquam harum hic suscipit, reprehenderit eum quod,
			perspiciatis esse labore rerum quidem consectetur in impedit non. Reprehenderit quis obcaecati iusto amet
			modi neque laboriosam, aspernatur totam, doloribus repellat quaerat, nihil delectus ullam error. Quas,
			dicta. Obcaecati fugit odio numquam doloribus praesentium, sint quos! Aut laudantium quo dolores cupiditate!
			Vel eveniet molestias totam rem veniam delectus nihil natus ut? Quod quia rem pariatur blanditiis beatae eos
			dolorem? Earum hic molestiae aut exercitationem quo, labore velit dignissimos corporis quasi vitae nulla
			voluptas placeat provident nam mollitia quisquam perspiciatis magnam quod. Iste cupiditate rerum repudiandae
			error assumenda maiores consequuntur qui reiciendis esse! Quos eius praesentium molestiae vitae mollitia
			odio voluptatibus quas ullam, id aperiam? Perferendis, expedita. Iure perspiciatis maiores, earum quos
			provident eum velit sint, odit accusantium animi, inventore alias aliquid saepe magni enim fugit ullam
			ratione dolore ab? Neque aspernatur aliquam nihil aut libero illum dolores, et sequi impedit reprehenderit
			maiores, sunt doloremque animi blanditiis quis. Saepe assumenda voluptas rem. Culpa at neque qui reiciendis
			cupiditate quibusdam assumenda beatae, labore in corporis, eum officia nulla debitis ab eligendi id
			expedita? Ratione, fugit illo quam dolore aliquam consequuntur. Facere nemo rerum rem suscipit ducimus
			repellendus voluptatem sapiente tenetur molestias et voluptas placeat magni deserunt expedita, ex aperiam
			consequatur error sequi! Odio corrupti, reprehenderit optio laborum, temporibus amet ex minima explicabo
			pariatur minus dicta quam? Corporis magnam id, voluptatem non tenetur sed ad ab labore doloribus aut
			laudantium, harum iure. Vero temporibus doloremque sapiente rem enim fugit accusantium hic officia natus
			suscipit, maxime quos nisi modi cum neque dolor necessitatibus earum voluptatibus sit pariatur, a
			consequuntur illo? Repellendus laudantium iure cupiditate, officia eum rerum aspernatur sapiente, ab
			doloremque vel minima dolore id fugiat dolorum. Magnam autem explicabo atque magni officiis delectus maxime
			eaque impedit qui eum odio earum optio veritatis itaque, obcaecati fugit nisi, animi, iusto tempora ipsa. Ex
			at minima iusto fuga! Unde, quas labore. Suscipit eaque repellendus nemo voluptates adipisci, iure
			praesentium! Placeat aut incidunt optio! Eligendi debitis rerum officiis, libero eum veritatis quas nesciunt
			consectetur tenetur totam, nulla quam magnam tempore dolore neque corrupti? Quo ducimus qui est molestiae
			corrupti illum perferendis animi quae! Repellendus exercitationem repudiandae, sapiente aliquid cumque esse
			consequuntur veniam rerum! Sed accusamus fugit hic dolor quod quia doloribus magni id dicta quae placeat
			exercitationem unde sint culpa voluptas blanditiis provident, quaerat est iure vero cumque porro labore.
			Voluptatibus aliquam sapiente odit voluptatem dolore aspernatur vel eius enim?</p>
	</main>
	<footer class="footer">
		<p>Copyright Afuweb 2020</p>
	</footer>
	<script src="../../../assets/js/script.js"></script>
</body>

</html>
